#!/bin/sh

set -e

. /usr/share/debconf/confmodule

_CONFFILE="/etc/default/git-stuff"
_CRONFILE="/etc/cron.d/git-stuff"

if [ -e "${_CONFFILE}" ]
then
	. ${_CONFFILE} || true

	db_set git-repack-repositories/enable "${GIT_REPACK_REPOSITORIES_ENABLE}"
	db_fset git-repack-repositories/enable seen false

	db_set git-repack-repositories/directories "${GIT_REPACK_REPOSITORIES_DIRECTORIES}"
	db_fset git-repack-repositories/directories seen false
fi

if [ -e "${_CRONFILE}" ]
then
	GIT_REPACK_REPOSITORIES_CRON="$(grep '/usr/bin/git-repack-repositories' ${_CRONFILE} | sed -e 's|root.*$||')"

	db_set git-repack-repositories/cron "${GIT_REPACK_REPOSITORIES_CRON}"
	db_fset git-repack-repositories/cron seen false
fi

db_settitle git-repack-repositories/title
db_input low git-repack-repositories/enable || true
db_go

db_get git-repack-repositories/enable
GIT_REPACK_REPOSITORIES_ENABLE="${RET}"

if [ "${GIT_REPACK_REPOSITORIES_ENABLE}" = "true" ]
then
	db_settitle git-repack-repositories/title
	db_input low git-repack-repositories/directories || true

	db_settitle git-repack-repositories/title
	db_input low git-repack-repositories/cron || true

	db_go
fi

db_settitle git-stuff/title
db_input low git-stuff/bash-profile || true
db_go

db_stop
